{% extends 'letsocial/base.html' %}
{% load static %}
{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'letsocial/css/friendspage.css' %}">{% endblock %}
{% block nav3class %}activenavbtn{% endblock %}
{% block body %}

{% if frslist.0.0 != None %}
<div class="friendspagesection">
    <!-- friend's page header -->
    <div class="friendspage-heading">
        <h2>Your Friend Requests</h2>
    </div>
    <div class="content-container">
        <!-- list of friend of your region -->
        <div class="friend-list-container">
            <ul class="friend-list">
                {% for i in userlist %}
                {% if i.0.username in frslist.0 %}
                {% if i.0.first_name != '' %}
                <li class="otherperson-profile">
                    <div class="otherperson-flexbox">
                        <div class="otherperson-detail">
                            <div class="otherperson-profile-photo">
                                {% if i.1 == None %}
                                <img src="{% static " letsocial/img/profileavatar.png" %}" alt="">
                                {% else %}
                                <img src={{i.1.uploadedprofileimage.url}} alt="">
                                {% endif %}
                            </div>

                            <div class="otherperson-name">
                                <a href="{% url 'letsocial:otherpersonprofileview' i.0.id %}">{{i.0.first_name}}
                                    {{i.0.last_name}}</a>
                            </div>
                        </div>

                        <div class="otherperson-addfriend">
                            {% if i.0.username in frslist.0 %}
                            <a class=" profilebtns cancelfriendrequestbtn"
                                href="{% url 'letsocial:cancelfriendrequest' i.0.username %}"><i
                                    class='fas fa-user-minus'></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endif %}

{% if frslist.1.0 != None %}
<div class="friendspagesection">
    <!-- friend's page header -->
    <div class="friendspage-heading">
        <h2>People Who Want To Be Your Friend</h2>
    </div>

    <div class="content-container">

        <!-- list of friend of your region -->

        <div class="friend-list-container">
            <ul class="friend-list">
                {% for i in userlist %}
                {% if i.0.first_name != '' %}
                {% if i.0.username in frslist.1 %}
                <li class="otherperson-profile">
                    <div class="otherperson-flexbox">
                        <div class="otherperson-detail">
                            <div class="otherperson-profile-photo">
                                {% if i.1 == None %}
                                <img src="{% static " letsocial/img/profileavatar.png" %}" alt="">
                                {% else %}
                                <img src={{i.1.uploadedprofileimage.url}} alt="">
                                {% endif %}
                            </div>

                            <div class="otherperson-name">
                                <a href="{% url 'letsocial:otherpersonprofileview' i.0.id %}">{{i.0.first_name}}
                                    {{i.0.last_name}}</a>
                            </div>
                        </div>

                        <div class="otherperson-addfriend">
                            <a class=" profilebtns acceptfriendbtn  "
                                href="{% url 'letsocial:acceptrequest' i.0.username %}">Accept</a>
                            <a class=" profilebtns rejectfriendbtn  "
                                href="{% url 'letsocial:rejectrequest' i.0.username %}">Reject</a>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

        </div>

    </div>
</div>
{% endif %}

{% if frslist.5 != None %}
<div class="friendspagesection">
    <!-- friend's page header -->
    <div class="friendspage-heading">
        <h2>Your Chats</h2>
    </div>

    <div class="content-container">

        <!-- list of friend of your region -->

        <div class="friend-list-container">
            <ul class="friend-list">
                {% for i in frslist.6 %}
                {% if i.0.first_name != '' %}
                {% if i.0.username in frslist.5 %}
                <li class="otherperson-profile">
                    <div class="otherperson-flexbox">
                        <div class="otherperson-detail">
                            <div class="otherperson-profile-photo">
                                {% if i.1 == None %}
                                <img src="{% static " letsocial/img/profileavatar.png" %}" alt="">
                                {% else %}
                                <img src={{i.1.uploadedprofileimage.url}} alt="">
                                {% endif %}
                            </div>

                            <div class="recentmsgbox ">
                                <div>
                                    <a href="{% url 'letsocial:otherpersonprofileview' i.0.id %}">{{i.0.first_name}}
                                        {{i.0.last_name}}</a>
                                </div>

                                <div>
                                    <small>{{i.2.message}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="otherperson-addfriend">
                            <a href="{% url 'letsocial:chatpage' request.user.username i.0.username %}" class="profilebtns chatfriendbtn"><i class="fas fa-comment-dots"></i></a>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

        </div>

    </div>
</div>
{% endif %}

{% if frslist.2.0 != None %}
<div class="friendspagesection">
    <!-- friend's page header -->
    <div class="friendspage-heading">
        <h2>Friends</h2>
    </div>

    <div class="content-container">

        <!-- search bar to search friend -->

        <div class="friend-searchbar">
            <label for="friendsearch">
                <span>Find a Friend:</span>
                <input type="search" name="friendsearch" id="friendsearch" required>
            </label>
        </div>

        <!-- list of friend of your region -->

        <div class="friend-list-container">
            <ul class="friend-list">

                {% for i in userlist %}
                {% if i.0.first_name != '' %}
                {% if i.0.username in frslist.2 %}

                <li class="otherperson-profile friendnames" id="{{i.0.first_name}}{{i.0.last_name}}">
                    <div class="otherperson-flexbox">
                        <div class="otherperson-detail">
                            <div class="otherperson-profile-photo">
                                {% if i.1 == None %}
                                <img src="{% static " letsocial/img/profileavatar.png" %}" alt="">
                                {% else %}
                                <img src={{i.1.uploadedprofileimage.url}} alt="">
                                {% endif %}
                            </div>

                            <div class="otherperson-name">
                                <a href="{% url 'letsocial:otherpersonprofileview' i.0.id %}">{{i.0.first_name}}
                                    {{i.0.last_name}}</a>
                            </div>
                        </div>

                        <div class="otherperson-addfriend">
                            <a href="{% url 'letsocial:chatpage' request.user.username i.0.username %}"
                                class="profilebtns chatfriendbtn"><i class="fas fa-comment-dots"></i></a>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

        </div>

    </div>
</div>
{% endif %}

<script>
    var friendnameslist = document.getElementsByClassName("friendnames");
    friendsearch.oninput = function () {
        // console.log(friendsearch.value)
        for (i = 0; i < friendnameslist.length; i++) {
            searchstr = friendnameslist[i].id.toString().toLowerCase().search(friendsearch.value.toString().toLowerCase())
            if (searchstr == -1) {
                friendnameslist[i].style.display = "none";
            }
            else {
                friendnameslist[i].style.display = "block";
            }
        }

    }
</script>

{% endblock %}