{% extends 'letsocial/forgotpassbase.html' %}

{% block body %}
<form action="{% url 'letsocial:forgotpassfinish' %}" method="post">
    {% csrf_token %}
    <div class="form-content">
        <label for="newpassword">
            New Password:
        </label>
        <input type="password" name="newpassword" class="form-input" id="newpassword">
        <label for="confirmpassword">
            Confirm Password:
        </label>
        <input type="password" name="confirmpassword" class="form-input" id="confirmpassword">
        <div class="formbtn">
            <input type="submit" value="Submit"> 
        </div>
    </div>
</form>

{% endblock %}